
body{
background:#050505;
color:#fff;
font-family:Arial;
margin:0;
padding:20px;
}

button{
background:#00ffe0;
border:none;
padding:10px;
cursor:pointer;
}

.total{
font-size:24px;
margin:20px 0;
}
